body {
    background-image: url(/spaceinvaders/images/background.png);
    background-size: cover;        
    color: white;
    overflow-x: hidden;
}

.panel {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-left: 30px;
    background: rgba(0, 0, 0, 0.699);
    height: 30vh;
    width: 15vw;
    box-shadow: 1px 1px 5px 4px #fff;
}


.panel img {
    height: 50px;
    width: 50px
}

#pause {
    background-color: rgba(0, 0, 0, 0.705);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#naveContainer {
    position: absolute;
    bottom: 1vh;
    left: 600px;
}

#nave {
    height: 150px;
    width: 85px;
    position: relative;
    z-index: 10;
}

#missil1, #missil2 {
    height: 90px;
    width: 25px;
    z-index: 1;
    position: absolute;
    top: 25px;
    transform: translateY(40px);
}
#missil1 {
    left: 3px;
}
#missil2 {
    right: 3px;
}